.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "controls world"
    "editor world";
}
.App-controls {
  grid-area: controls;
}
.App-editor {
  grid-area: editor;
  overflow: hidden;
}
.App-world {
  grid-area: world;
}

/* screen is taller than wide */
@media (max-width: 100vh) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 50%;
    grid-template-areas:
      "editor"
      "controls"
      "world";
  }
}
