.App {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}
.App-editor {
  max-width: 850px;
  flex: 1;
  overflow: hidden;
}
.App-world {
  flex: 1;
}

/* screen is taller than wide */
@media (max-width: 100vh) {
  .App {
    flex-direction: column;
  }
  .App-editor,
  .App-world {
    height: 50%;
    /* width: unset; */
    max-width: unset;
  }
}
