html,
body,
#root {
  height: 100vh;
  margin: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: sans-serif;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
